/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 *
 * Go60 keymap ported from the authoritative Glove80 source
 * https://github.com/ai212983/glove80 at origin/main commit
 * 8c2660d31894c59b61eb14e97ef6211ae06041ac.
 * See MIGRATION.md for provenance and the full move list.
 */

#include <behaviors.dtsi>

#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/input_transform.h>
#include <dt-bindings/zmk/pointing.h>

#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>

// layers
#define LAYER_Base 0
#define LAYER_Russian 1
#define LAYER_NavNum 2
#define LAYER_Magic 3
#define LAYER_Symbols 4

/* Imported from Glove80 source: mod-combos and host keys */
#define HYPR LC(RS(LA(LGUI)))
#define MEH LC(RS(LALT))

#define PRV_SPC F13
#define NXT_SPC F14
#define MSN_CTL F15
#define APP_LNC F16
#define APP_SWT F17

#define PSWD F18

#define PRV_TAB LA(LG(LEFT))
#define NXT_TAB LA(LG(RIGHT))

#define HOST_OS 2  // set to 2 for macOS/Windows-Alt-Codes, default is 0 (Windows)

#include "helper.h"
#include "international_chars/russian.dtsi"


// bind keys swap to LEFT shift, so they do not intefere with MEH/HYPER
#define L_MODMORPH(name, uc_binding, shifted_uc_binding) \
    / { \
        behaviors { \
            name: name { \
                compatible = "zmk,behavior-mod-morph"; \
                label = ZMK_HELPER_STRINGIFY(L_MORPH_ ## name); \
                #binding-cells = <0>; \
                bindings = <uc_binding>, <shifted_uc_binding>; \
                mods = <(MOD_LSFT)>; \
            }; \
        }; \
    };

L_MODMORPH(dqt_sqt, &kp DQT, &kp SQT)
L_MODMORPH(gra_til, &kp GRAVE, &kp TILDE)


/ {
    input_processors {
        zip_click_to_right_click_mapper: zip_click_to_right_click_mapper {
            compatible = "zmk,input-processor-code-mapper";
            #input-processor-cells = <0>;
            type = <INPUT_EV_KEY>;
            map = <INPUT_BTN_0 INPUT_BTN_1>;
        };
    };

    behaviors {
        magic: magic {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            bindings = <&mo>, <&rgb_ug_status_macro>;
        };

        bt_0: bt_0 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&bt_select_0>, <&bt BT_DISC 0>;
        };
        bt_1: bt_1 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&bt_select_1>, <&bt BT_DISC 1>;
        };
        bt_2: bt_2 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&bt_select_2>, <&bt BT_DISC 2>;
        };
        bt_3: bt_3 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&bt_select_3>, <&bt BT_DISC 3>;
        };
    };

    macros {
        rgb_ug_status_macro: rgb_ug_status_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&rgb_ug RGB_STATUS>;
        };

        bt_select_0: bt_select_0 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&out OUT_BLE>,
                  <&bt BT_SEL 0>;
        };
        bt_select_1: bt_select_1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&out OUT_BLE>,
                  <&bt BT_SEL 1>;
        };
        bt_select_2: bt_select_2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&out OUT_BLE>,
                  <&bt BT_SEL 2>;
        };
        bt_select_3: bt_select_3 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&out OUT_BLE>,
                  <&bt BT_SEL 3>;
        };
    };

    keymap {
        compatible = "zmk,keymap";
        layer_Base {
            bindings = <
// num row (source number row; left outer &none -> Magic, right outer is source PSWD)
&magic LAYER_Magic 0  &kp N1     &kp N2   &kp N3    &kp N4  &kp N5                                                      &kp N6    &kp N7     &kp N8    &kp N9    &kp N0           &kp PSWD
// main row 2 (source Q-row)
              &none   &kp Q      &kp D    &kp R     &kp W   &kp B                                                       &kp J     &kp F      &kp U     &kp P     &kp SEMI          &kp BSLH
// main row 3 (source home row)
           &kp HYPR   &kp A      &kp S    &kp H     &kp T   &kp G                                                       &kp Y     &kp N      &kp E     &kp O     &kp I           &dqt_sqt
// main row 4 (source Z-row mains)
          &kp LSHFT   &kp Z      &kp X    &kp M     &kp C   &kp V                                                       &kp K     &kp L  &kp COMMA   &kp DOT  &kp FSLH          &gra_til
// lower extra (source bottom C4/C3/C2; outer &none -> LCTRL / tog Russian)
                            &kp LCTRL  &kp LEFT  &kp RIGHT                                                                      &kp UP   &kp DOWN      &tog LAYER_Russian
// thumbs (source T4/T5/T6; <3 SPACE remapped to Symbols=4)
                                                     &mt LGUI ESC  &lt LAYER_NavNum BSPC  &mt LCTRL DEL     &mt MEH TAB  &lt LAYER_Symbols SPACE  &mt LALT RET
            >;
        };

        layer_Russian {
            bindings = <
// num row (left outer &trans keeps Magic reachable via fallthrough; right outer is source PSWD)
               &trans    &trans     &trans   &trans    &trans  &trans                                                        &trans    &trans     &trans    &trans    &trans           &kp PSWD
// main row 2
               &ru_c     &ru_ch      &kp A   &ru_k     &ru_y   &ru_m                                                         &ru_v     &ru_l      &ru_z     &ru_sh    &ru_iy            &ru_f
// main row 3
              &ru_hs     &ru_p      &ru_i    &ru_o     &ru_e   &ru_u                                                          &kp P    &ru_n      &ru_t     &ru_s     &ru_b            &ru_h
// main row 4
              &trans    &ru_ae     &ru_yu   &ru_ss    &ru_ya  &ru_dot                                                      &ru_comm    &ru_g      &ru_d    &ru_zh    &ru_sc          &gra_til
// lower extra (fallthrough to Base arrows/LCTRL; &to Base exits Russian)
                               &trans     &trans     &trans                                                                          &trans    &trans      &to LAYER_Base
// thumbs (source T4/T5/T6 are &trans here)
                                                              &trans           &trans            &trans              &trans             &trans            &trans
            >;
        };

        layer_NavNum {
            bindings = <
// num row (source F-row discarded; number row all &none)
                &none     &none     &none    &none    &none     &none                                                          &none     &none      &none     &none       &none            &none
// main row 2
                &none     &none   &kp HOME   &kp UP   &kp END  &kp PG_UP                                                    &kp PRCNT  &kp KP_N7  &kp KP_N8 &kp KP_N9  &kp KP_MULTIPLY  &kp KP_DIVIDE
// main row 3
               &trans     &none   &kp LEFT &kp DOWN &kp RIGHT  &kp PG_DN                                                      &none  &kp KP_N4  &kp KP_N5 &kp KP_N6   &kp KP_MINUS        &none
// main row 4
               &trans     &none     &none    &none    &none     &none                                                       &kp KP_N0 &kp KP_N1  &kp KP_N2 &kp KP_N3    &kp KP_PLUS    &kp KP_ENTER
// lower extra
                                 &none     &trans     &trans                                                                          &trans    &trans   &kp KP_DOT
// thumbs (source T4/T5/T6)
                                                           &kp LALT            &trans         &kp LCTRL               &trans             &trans     &kp LA(RET)
            >;
        };

        layer_Magic {
            bindings = <
  &bt BT_CLR     &kp C_BRI_DN     &kp C_BRI_UP       &kp C_PREV       &kp C_NEXT         &kp C_PP                                &kp C_MUTE  &kp C_VOL_DN  &kp C_VOL_UP   &none   &none    &bt BT_CLR_ALL
 &bootloader  &rgb_ug RGB_SPI  &rgb_ug RGB_SAI  &rgb_ug RGB_HUI  &rgb_ug RGB_BRI  &rgb_ug RGB_TOG                                     &none         &none         &none   &none   &none       &bootloader
  &sys_reset  &rgb_ug RGB_SPD  &rgb_ug RGB_SAD  &rgb_ug RGB_HUD  &rgb_ug RGB_BRD  &rgb_ug RGB_EFF                                     &none         &none         &none   &none   &none        &sys_reset
       &none            &none            &bt_0            &bt_1            &bt_2            &bt_3                                     &none         &none         &none   &none   &none &none
                                  &out OUT_USB            &none            &none                                                                    &none         &none   &none
                                                                                            &none   &none   &none     &none   &none   &none
            >;
        };

        layer_Symbols {
            bindings = <
// num row (source F1..F10; F11/F12 on spare outer keys)
              &kp F11     &kp F1     &kp F2    &kp F3     &kp F4     &kp F5                                       &kp F6    &kp F7           &kp F8       &kp F9          &kp F10    &kp F12
// main row 2 (remote arrangement; left outer &none -> relocated plain LALT lost from source extra thumb)
              &kp LALT    &kp EXCL   &kp AT    &kp HASH   &kp DLLR    &kp PRCNT                             &kp PRV_SPC &kp NXT_SPC &kp LBKT &kp RBKT &kp LS(N6)  &kp APP_LNC
// main row 3 (remote arrangement)
               &trans     &none    &none    &kp PLUS  &kp MINUS    &kp EQUAL                                &kp PRV_TAB &kp NXT_TAB &kp LS(N9) &kp LS(N0) &kp LS(N8)  &kp APP_SWT
// main row 4 (remote arrangement; spare &none -> relocated plain LSHFT)
               &trans     &none    &none     &none   &kp UNDER     &none                                    &kp AMPS &kp GRAVE &kp LS(LBKT) &kp LS(RBKT) &kp LSHFT  &kp MSN_CTL
// lower extra
                                 &none     &trans     &trans                                                              &trans      &trans       &none
// thumbs (source T4/T5/T6 are &trans here)
                                                              &trans           &trans            &trans              &trans             &trans            &trans
            >;
        };
    };
};

&cirque_rh_listener {
    input-processors = <&zip_xy_scaler 3 1>;
    layer_2 {
        layers = <2>;
        input-processors = <&zip_xy_scaler 9 1>;
    };
};

&cirque_lh_listener {
    input-processors = <&zip_xy_to_scroll_mapper>, <&zip_xy_scaler 1 8>, <&zip_click_to_right_click_mapper>;
};
